@import "./colors.scss"; 

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-shadow {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.5);
  box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.5);
}

.shadow-light {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(122, 122, 122, 0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(122, 122, 122, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(122, 122, 122, 0.2);
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.chat-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $bg-gray;
  height: 100%;
  margin: 0 !important;

  .chat-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    padding: 2rem 1rem;

    @media (min-width: 800px) {
        padding: 2rem 6rem;
        flex-direction: row;
    }
  }

  .online-status {
      display: inline-block;
      border-radius: 50%;
      width: 10px;
      height: 10px;
  }

  .online {
      background-color: $success;
  }

  .offline {
      background-color: $danger;
  }
}